<!doctype html>
<html>
<head>
	<meta charset="UTF-8"> 
	<title>Kite Dialog Interface</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/kite.css" />
</head>
<body ng-app="kite">
	<div ng-controller="mainController">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<h1>Kite Dialog Interface</h1>
					<p>Name: <input ng-model="json.name" type="text" /></p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<h2>Events</h2>
					<form>
						<div class="form-group">
							<label for="eventName">Name:</label>
							<input class="form-control" type="text" ng-model="event.name" />
						</div>
						<p><b>Responses:</b></p>
						<table class="table">
							<tr>
								<th>Type</th>
								<th>Text</th>
								<th>Actions</th>
							</tr>
							<tr ng-repeat="response in event.responses">
								<td>{{ response.type }}</td>
								<td>{{ response.text }}</td>
								<td><button class="btn" ng-disabled="$first" ng-click="responseUp($index)"><span class="glyphicon glyphicon-chevron-up"></span></button> <button class="btn" ng-disabled="$last" ng-click="responseDown($index)"><span class="glyphicon glyphicon-chevron-down"></button> <button class="btn btn-primary" ng-click="editResponse(response)"><span class="glyphicon glyphicon-edit"></span></button> <button class="btn btn-danger" ng-click="removeResponse($index)"><span class="glyphicon glyphicon-trash"></span></button></td>
							</tr>
						</table>
						<p>
							<button class="btn btn-success" ng-click="addResponse()">Add response</button>
						</p>
						<div class="form-group">
							<label for="controlType">Control type:</label>
							<select id="controlType" class="form-control" ng-model="control.type">
								<option value="none">none</option>
								<option value="options">options</option>
								<option value="entity">entity</option>
								<option value="tool">tool</option>
							</select>
						</div>
						<div class="form-group" ng-if="control.type == 'tool'">
							<label for="controlTool">Tool:</label>
							<input id="controlTool" class="form-control" ng-model="control.tool" type="text" />
						</div>
						<div class="form-group" ng-if="control.type == 'entity'">
							<label for="controlEntity">Entity:</label>
							<input id="controlEntity" class="form-control" ng-model="control.entity" type="text" />
						</div>
						<div class="form-group" ng-if="control.type == 'options'">
							<p><b>Options:</b></p>
							<table class="table">
								<tr>
									<th>Label</th>
									<th>Triggers</th>
									<th>Actions</th>
								</tr>
								<tr ng-repeat="option in control.options">
									<td>{{ option.label }}</td>
									<td>{{ option.triggers }}</td>
									<td><button class="btn btn-primary" ng-click="editOption(option)"><span class="glyphicon glyphicon-edit"></span></button> <button class="btn btn-danger" ng-click="removeOption($index)"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
							</table>
							<p><button class="btn btn-success" ng-click="addOption()">Add option</button></p>
						</div>
					</form>
					<p><button class="btn btn-primary" ng-click="saveEvent()">Save event</button></p>
					<h3>Events</h3>
					<table class="table">
						<tr>
							<th>Event name</th>
							<th>Actions</th>
						</tr>
						<tr ng-repeat="event in json.events">
							<td>{{ event.name }}</td>
							<td><button ng-click="editEvent($index)">Edit</button> <button ng-click="removeEvent($index)">Remove</button></td>
						</tr>
					</table>
				</div>
				<div class="col-sm-4">
					<h2>Entities</h2>
					<form>
						<div class="form-group">
							<label for="entityName">Name:</label>
							<input id="entityName" class="form-control" ng-model="entity.name" type="text" />
						</div>
						<p><b>Examples:</b></p>
						<table class="table">
							<tr>
								<th>Example</th>
								<th>Actions</th>
							</tr>
							<tr ng-repeat="example in entity.examples">
								<td>{{ example }}</td>
								<td><button class="btn btn-primary" ng-click="editExample($index, example)"><span class="glyphicon glyphicon-edit"></span></button> <button class="btn btn-danger" ng-click="removeExample($index)"><span class="glyphicon glyphicon-trash"></span></button></td>
							</tr>
						</table>
						<p><button class="btn btn-success" ng-click="addExample()">Add example</button></p>
						<div class="form-group">
							<label for="entityTriggers">Triggers:</label>
							<input id="entityTriggers" class="form-control" ng-model="entity.triggers" />
						</div>
					</form>
					<p><button class="btn btn-primary" ng-click="saveEntity()">Save entity</button></p>
					<h3>Entities</h3>
					<table class="table">
						<tr>
							<th>Entity name</th>
							<th>Actions</th>
						</tr>
						<tr ng-repeat="entity in json.entities">
							<td>{{ entity.name }}</td>
							<td><button ng-click="editEntity($index)">Edit</button> <button ng-click="removeEntity($index)">Remove</button></td>
						</tr>
					</table>
				</div>
				<div class="col-sm-4">
					<h2>Flow</h2>
					<sigma-js graph-id="graph" graph="flow"></sigma-js>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<h2>JSON</h2>
					<p><button class="btn btn-primary" ng-click="copyJson()">Copy</button> <button class="btn btn-primary" ng-click="loadJson()">Load</button> <span>{{ message }}</span></p>
					<pre><code>{{ getJson() }}</code></pre>
				</div>
			</div>
		</div>
	</div>
	<script type="text/ng-template" id="editResponse.html">
		<div class="modal-header">
			<h3 class="modal-title">Edit response</h3>
		</div>
		<div class="modal-body">
			<form>
				<div class="form-group">
					<label for="responseType">Type</label>
					<select id="responseType" class="form-control" ng-model="type">
						<option value="text">text</option>
						<option value="image">image</option>
						<option value="video">video</option>
					</select>
				</div>
				<div class="form-group">
					<label for="responseText">Text</label>
					<input id="responseText" class="form-control" type="text" ng-model="text" />
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="save()">Save</button>
			<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
		</div>
	</script>
	<script type="text/ng-template" id="editOption.html">
		<div class="modal-header">
			<h3 class="modal-title">Edit option</h3>
		</div>
		<div class="modal-body">
			<form>
				<div class="form-group">
					<label for="optionLabel">Label</label>
					<input id="optionLabel" class="form-control" type="text" ng-model="label" />
				</div>
				<div class="form-group">
					<label for="optionTriggers">Triggers</label>
					<input id="optionTriggers" class="form-control" type="text" ng-model="triggers" />
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="save()">Save</button>
			<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
		</div>
	</script>
	<script type="text/ng-template" id="editExample.html">
		<div class="modal-header">
			<h3 class="modal-title">Edit example</h3>
		</div>
		<div class="modal-body">
			<form>
				<div class="form-group">
					<label for="example">Example:</label>
					<input id="example" class="form-control" type="text" ng-model="example" />
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="save()">Save</button>
			<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
		</div>
	</script>
	<script type="text/ng-template" id="loadJson.html">
		<div class="modal-header">
			<h3 class="modal-title">Load JSON</h3>
		</div>
		<div class="modal-body">
			<form>
				<div class="form-group">
					<label for="example">JSON:</label>
					<textarea id="example" class="form-control" type="text" ng-model="json"></textarea>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="load()">Load</button>
			<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
		</div>
	</script>
	<script type="text/ng-template" id="sigma.html">
		<div id="graph" class="graph"></div>
	</script>
	<script src="js/sigma.min.js"></script>
	<script src="js/sigma.plugins.animate.js"></script>
	<script src="js/sigma.layout.noverlap.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/ui-bootstrap-tpls-2.5.0.min.js"></script>
	<script src="js/kite.js"></script>
</body>
</html>